<!DOCTYPE html>
<html>

<head>
    <title>Update Medicine</title>
</head>

<body>

<h1>UPDATE MEDICINE</h1>

<form action="/update_medicine_data" method="POST">

    Medicine ID:
    <input type="text" name="medicine_id">
    <br><br>

    Medicine Name:
    <input type="text" name="medicine_name">
    <br><br>

    Company:
    <input type="text" name="company">
    <br><br>

    Price:
    <input type="text" name="price">
    <br><br>

    Quantity:
    <input type="text" name="quantity">
    <br><br>

    Expiry Date:
    <input type="date" name="expiry_date">
    <br><br>

    <button type="submit">
        Update Medicine
    </button>

</form>

</body>
</html>